/.idea
/data/
/build/
/example_data
multi_scales
paper
software
/distrib/dist
temp_ldc.py
temp_ldc_mgm.py
/test_data/
/pic/
**/__pycache__
DensityClust/__pycache__/*.pyc
*.pyc
*.fits
*.csv
version_record.md
setup.py