/.idea/
/0170+010_L/
/0170+010_L/MGM_problem_cell/0155+030_L/
/data/
/build/
/test_data/
/pic/
**/__pycache__
DensityClust/__pycache__/*.pyc
*.pyc
other/yyy.py
*.fits
*.csv
temp.py

requirements.txt
setup.py
README.MD
fit_simulate_data.py
/fit_clump_function/fitting_result/
/0170+010_L/MGM_problem_cell/
/other/
