/.idea/
/0170+010_L/
/MGM_problem_cell/0155+030_L/
/data/
/build/
/dist/
**/__pycache__
DensityClust/__pycache__/*.pyc
*.pyc

*.fits
*.csv
*.png

requirements.txt
setup.py
README.MD
fit_simulate_data.py
fit_test.py
/fit_clump_function/fitting_result/
/MGM_problem_cell/
